{% extends "base.html" %}

{%block title %}Create{%endblock%}

{% block content %}

<form class="form" method="POST">
	{% csrf_token %}
{{form.as_p}}
<button type="submit" class="btn btn-outline-primary form-control">Guardar</button>
<button type="reset" class="btn btn-outline-warning form-control">Cancelar</button>
</form>

{{message}}

{%endblock%}