{% extends "base.html" %}

{%block title %}Delete{%endblock%}

{% block content %}

	<h3>¿Realmente quieres eliminar este electronico? {{object.nombre}}</h3>
	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="btn btn-outline-danger">Eliminar</button>
		<a class="btn btn-link" href="{% url 'listropa'%}">Regresar</a>
	</form>

{% endblock %}