{% extends "base.html" %}
{%block title %}Detalles{%endblock%}
{% block content %}
<div class="media">
  <img src="..." class="mr-3" alt="Imagen no encontrada">
  <div class="media-body">
    <h5 class="mt-0">Detalles de la playera</h5>
    <br>
    <h4>
Nombre: {{object.nombre}}<br>
Color: {{object.color}}<br>
Marca: {{object.marca}}<br>
Licencia: {{object.licencia}}<br>
Categoria: {{object.categoria}}<br>
En uso: {{object.usando}}<br>
<a href="{% url 'listropa2' %}">|back|</a>
</h4>
  </div>
</div>
{%endblock%}