{% extends "base.html" %}
{%block title %}Lista{% endblock %}
{% block content %}
<h3>Playeras disponibles</h3>
<br>

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpointropa/",
			method:"GET",
			//data:{"q":query},
			success: function(data){
				$.each(data, function(key,value){
					$("#list_ropa").append("<ul> <li>"+value.nombre +"---"+ value.licencia+"---"+value.color+"</td> </tr>")
				})

			},
			error: function(data){
				console.log(data)
				
			}

		})
	});


</script>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Licencia</th>
		<th></th>
		<th>Detalles</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pl in playeras %}
<tr>
<td>{{pl.nombre}}</td>
<td>{{pl.licencia}}</td>
<td><a href="{% url 'detailropa' id=pl.id %}">Detalles</a></td>
<td><a href="{% url 'updateropa' id=pl.id %}">Actualizar</a></td>
<td><a href="{% url 'deleteropa' id=pl.id %}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div id="list_ropa">
</div>

</tbody> </table>
{%endblock%}