{% extends "base.html" %}
{%block title %}Lista{% endblock %}
{% block content %}
<h3>Playeras disponibles</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Licencia</th>
		<th></th>
		<th>Detalles</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pl in object_list %}
<tr>
<td>{{pl.nombre}}</td>
<td>{{pl.licencia}}</td>
<td><a href="{% url 'detailropa2' pk=pl.id %}">Detalles</a></td>
<td><a href="{% url 'updateropa2' pk=pl.id %}">Actualizar</a></td>
<td><a href="{% url 'deleteropa2' pk=pl.id %}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{%endblock%}