{% extends "base.html" %}

{% block title %} listado {% endblock %}

{% block content %}

<table>

{% for item in listadedatos %}

<tr>
<td>
{% if item <= 5 %}

El numero {{ item }} es menor a 5


{% else %}
El numero {{ item }} es mayor a 5

{% endif %}
</td>
</tr>
{% endfor %}
</table>

<h2>
{{ listadedatos.1 }}

{{ listadedatos.3 }}

</h2>

{% endblock %}