{% load staticfiles %}
<DOCTYPE HTML>
<HTML>
<HEAD>
  <title>{%block title%}{% endblock %}</title>
</HEAD>
<BODY>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</script>


{% include "navbarbulma.html" %}
<br>
<div class="container">
  {%block content %}
  
  {% endblock %}
</div>

</BODY>
</HTML>
