<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #10689e;">
  <a class="navbar-brand" href="#">Barra de navegacion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'listado' %}">Lista</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Pokedex
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'listp' %}">Listar</a>
          <a class="dropdown-item" href="{% url 'createp' %}">Agregar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Pokedex generico
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'listp2' %}">Listar (manera compleja)</a>
          <a class="dropdown-item" href="{% url 'listp3' %}">Listar por agua</a>
          <a class="dropdown-item" href="{% url 'createp2' %}">Agregar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Ropa
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'listropa' %}">Listar</a>
          <a class="dropdown-item" href="{% url 'createropa' %}">Agregar</a>
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Ropa generico
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'listropa2' %}">Listar (manera compleja)</a>
          <a class="dropdown-item" href="{% url 'listropa3' %}">Listar por color negro</a>
          <a class="dropdown-item" href="{% url 'createropa2' %}">Agregar</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Liga pokemon
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'listleague' %}">Lista</a>
          <a class="dropdown-item" href="{% url 'createleague' %}">Agregar</a>
        </div>
      </li>

    </ul>
    {% if request.user.is_authenticated %}
    
    <a  class="btn btn-danger" href="{% url 'logout' %}" role="button">Logout </a>
    {%else%}
    <a class="btn btn-primary" href="{% url 'signup'%}" role="button">SignUp</a>
    <a class="btn btn-secondary" href="{% url 'login'%}" role="button">Login</a>
    {%endif%}
    
    <form class="form-inline my-2 my-lg-0" id="nav-bar-form" method = "GET" action="{% url 'listropa2' %}">
      <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>