{% extends "basebulma.html" %}

{%block title %}Delete{%endblock%}

{% block content %}

	<h3 class ="subtitle">¿Realmente quieres eliminar esta liga? {{object.name}}</h3>
	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="btn is-danger">Delete</button>
		<a class="btn is-info" href="{% url 'listleague'%}">Return</a>
	</form>

{% endblock %}