{% extends "basebulma.html" %}

{%block title %}{%endblock%}

{% block content %}


<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">

Nombre: {{object.name}}<br>
Nivel: {{object.level}}<br>
Cantidad de medallas: {{object.number_medals}}<br>
Cantidad de pokemones: {{object.number_pokemons}}<br>
Numero de entrenadores: {{object.number_trainers}}<br>
<a href="{% url 'listleague' %}">|back|</a>
</div>
    </nav>
  </div>
</article>


{%endblock%}