{% extends "basebulma.html" %}

{%block title %}Lista{% endblock %}

{% block content %}
</script>

<h3>Ligas Pokemon</h3>
<br>

<table class="table is-fullwidth">
<thead>
	<tr>
		<th>Nombre</th>
		<th>Nivel</th>
		<th>Numero de trainers</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.name}}</td>
<td>{{pk.level}}</td>
<td>{{pk.number_trainers }}</td>
<td><a href="{% url 'detailleague' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updateleague' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'deleteleague' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>


{%endblock%}