{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <img src="..." class="mr-3" alt="Imagen no encontrada">
  <div class="media-body">
    <h5 class="mt-0">Detalles del equipo</h5>
    <br>
    <h4>
Nombre: {{object.nombre}}<br>
Apodo: {{object.apodo}}<br>
Lugar de origen: {{object.lugar_origen}}<br>
Campeonatos: {{object.campeonatos}}<br>
<a href="{% url 'equipos' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}