{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <img src="..." class="mr-3" alt="Imagen no encontrada">
  <div class="media-body">
    <h5 class="mt-0">Detalles del jugador</h5>
    <br>
    <h4>
Nombre: {{object.nombre}}<br>
Apellido: {{object.apellido}}<br>
Apodo: "{{object.apodo}}"<br>
Numero de playera: {{object.numero}}<br>
Equipo: {{object.equipo}}<br>
Posicion: {{object.posicion}}<br>
Estatus: {{object.status}}<br>
<a href="{% url 'jugadores' %}">|back|</a>
</h4>
  </div>
</div>


{%endblock%}