{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}

<h3>Elige un equipo para ver sus jugadores</h3>
<br>

{% for jg in equipos %}

<a class="btn btn-info btn-lg" href="{% url 'listequipos2' nom=jg.nombre %}" role="button">{{jg.nombre}}</a>
<br>
<br>

{%endfor%}

{%endblock%}