{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}
</script>

<h3>Ligas Pokemon</h3>
<br>

<table class="table table-primary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre torneo</th>
		<th>Nombre del Trainer</th>
		<th>Nombre de los pokemons</th>
		<th>Nombre de la liga</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.name}}</td>
<td>{{pk.trainer}}</td>
<td>{% for p in pk.pokemons.all %} {{ p.nombre }} {% endfor %}</td>
<td>{{pk.league }}</td>
<td><a href="{% url 'detailleague' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updateleague' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'deleteleague' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>


{%endblock%}