{% extends "base.html" %}

{%block title %}{%endblock%}

{% block content %}


<div class="media">
  <img src="..." class="mr-3" alt="Imagen no encontrada">
  <div class="media-body">
    <h5 class="mt-0">Detalles del pokemon</h5>
    <br>
    <h4>
Nombre: {{object.nombre}}<br>
Tipo: {{object.tipo}}<br>
Nivel: {{object.nivel}}<br>
Experiencia: {{object.exp}}<br>
Estatus: {{object.status}}<br>
Fecha de registro: {{object.timestamp}}<br>
Entrenador: {{object.trainer}}<br>
<a href="{% url 'listp2' %}">|back|</a>
</h4>
  </div>
</div>

{{ message }}

{%endblock%}