{% extends "base.html" %}

{%load staticfiles %}

{%block title %}Lista{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){
		console.log("working");

		$.ajax({
			url: "/endpoint2/",
			method:"GET",
			//data:{"q":query},
			success: function(data){
				//console.log(data)
				$.each(data, function(key,value){
					console.log(key,value.nombre)
					$("#list_pokemons").append("<ul> <li>"+value.nombre +"---"+ value.tipo+" : "+value.trainer.username+"</li> </ul>")
				})
			},
			error: function(data){
				console.log(data)
				console.log(error)
			}

		})
	});

	// $("#list-pokemons").on(function(){
	// 	$.each(function(key,))
	// })

</script>


<img src="{% static 'images/python.png' %}" alt="Imagen no disponible" width="100px">

<h3>Pokemones</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Trainer</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in pokemons %}
<tr>
<td>{{pk.nombre}}</td>
<td>{{pk.tipo}}</td>
<td>{{pk.image}}</td>
<td>{{pk.trainer}}</td>
<td><a href="{% url 'detailp' id=pk.id %}">Detalles</a></td>
<td><a href="{% url 'updatep' id=pk.id %}">Actualizar</a></td>
<td><a href="{% url 'deletep' id=pk.id %}">Delete</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div id="list_pokemons">
</div>
	



{%endblock%}