{% extends "base.html" %}

{%block title %}Lista{% endblock %}

{% block content %}


<h3>Pokemones</h3>
<br>

<table class="table table-secondary table-hover">
<thead class="table-dark">
	<tr>
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Trainer</th>
		<th></th>
		<th>Acciones</th>
		<th></th>
	</tr>
</thead>
<tbody>
{% for pk in object_list %}
<tr>
<td>{{pk.nombre}}</td>
<td>{{pk.tipo}}</td>
<td>{{pk.image}}</td>
<td>{{pk.trainer}}</td>
<td><a href="{% url 'detailp2' pk=pk.id%}">Detalles</a></td>
<td><a href="{% url 'updatep2' pk=pk.id%}">Actualizar</a></td>
<td><a href="{% url 'delete2' pk=pk.id%}">Eliminar</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{{ message }}

{%endblock%}